
<section>
    <div>
        {{str}} <br />
        {{str|lowercase}}<br />
        {{str|uppercase}}<br />
        {{str|titlecase}}<br />
    </div>
    <div>
        {{num}}<br />
        {{num|number:'1.0-0'}}<br />
        {{num|number:'2.0-0'}}<br />
        {{num|number:'3.0-0'}}<br />
        {{num|number:'3.2-2'}}<br />
        {{num|number:'3.2-4'}}<br />
    </div>
    <div>
        {{num|currency:'INR'}} <br />
        {{num|currency:'USD'}} <br />
        {{num|currency:'JPY'}} <br />
        {{num|currency:'GBP'}} <br />
        {{num|currency:'XYZ'}} <br />
    </div>
    <div>
        {{date}}<br/>
        {{date|date:'short'}}<br/>
        {{date|date:'long'}}<br/>
        {{date|date:'dd-MM-yyyy'}}<br/>
        {{date|date:'dd-MMM-yyyy hh:mm:ss a'}}<br/>
        {{date|date:'dd-MMMM-yyyy HH:mm:ss'}}<br/>
    </div>
</section>